{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color:#42bff4;">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Hood Watch</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down" style="Margin-left: 20%;">
        <li><a href="{% url 'companies' %}">Businesses in your Area</a></li>
        <li> <a href="#contactsmodal" class="modal-trigger">Emergency Contacts</a> </li>
          <li><a class="modal-trigger" href="#modal1">Post Something</a></li>
      </ul>
      <a href="{% url 'logout' %}" class="right" style="margin-left: 10px;">Logout</a>
      <a class="right" href="{% url 'edit_profile' user.username %}" style="margin-left: 10px;">Profile</a>


      <ul class="" style="float: right; color: white;">
          <li><form class="" action="{% url 'search' %}">
            <div id="custom-search-input"  style=" color: white;">
                  <div class="input-group col-md-12 ui-widget">
                      <input style=" color: white;" id="search" type="text" class="s" placeholder="Search for businesses" name="search" />
                  </div>
              </div>
        </form></li>

      </ul>
  </div>
</nav>



 <!-- Modal Structure -->
   <div id="contactsmodal" class="modal">
     <div class="modal-content">
       <h4>Emergency Contacts</h4>
       <p>Police: 999  <br>Ambulance: 999 <br>Fire Brigade: 999</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-close waves-effect waves-green btn-flat">Hide</a>
     </div>
   </div>
